@charset "UTF-8";

h1 {
	font-size: 40px;
	text-align: center;
}

body {
	background-color: lightgreen;
	text-align: left;
}

table {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
}

.message {
	padding: 0.5em 1em;
	margin: 2em 0;
	font-weight: bold;
	color: #6091d3; /*文字色*/
	background: #FFF;
	border: solid 3px #6091d3; /*線*/
	border-radius: 10px; /*角の丸み*/
}

.comment-area {
	margin-top: 1%;
}
.button {
	font-size: 20px;
}