<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/table.css}" rel="stylesheet">
<title>コメント編集処理</title>
</head>
<body>
	<table border="1">
		<tr>
			<th>内容</th>
			<th></th>
		</tr>
		<form th:action="@{/update_comment/{id}(id=${formModel.id})}" th:object="${formModel}" th:method="put">
			<tr>
				<td><input type="text" name="content" th:value="${formModel.content}" size="20" maxlength="200" /></td>
				<td><input type="submit" value="更新"></td>
			</tr>
		</form>
	</table>
	<form action="/">
		<input type="submit" value="戻る" />
	</form>
</body>
</html>