<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/table.css}" rel="stylesheet">
<title>TOP</title>
</head>
<body>
	<h1>匿名掲示板</h1>

	<div class="home">
	    <form th:method="get" th:action = "@{/}">
	        <input type="submit" value="ホーム">
	    </form>
	</div>

	<div class="date_form">
		<form th:method="get" th:action="@{/date}">
		    <p>
			日付 <input type="date" name="start" value="${startDate}">
			～ <input type="date" name="end" value="${endDate}">
			   <input type="submit" value="絞り込み">
			</p>
		</form>
	</div>

	<a href="/new"><button type="button">新規投稿</button></a>

	<div class="messages">
		<div th:each="content : ${contents}">
			<div class="message">
				<div style="display: inline-flex">
					<p>投稿ID:</p>
					<p th:text="${content.id}"></p>
				</div>
				<br />
				<div style="display: inline-flex">
					<p>内容：</p>
					<p th:text="${content.content}"></p>
				</div>
				<div>
					<p th:text="|投稿日時：${#dates.format(content.createdDate, 'yyyy/MM/dd HH:mm:ss')}|">
					</p>
					<div th:if="${content.createdDate != content.updatedDate}">
					<p th:text="|更新日時：${#dates.format(content.updatedDate, 'yyyy/MM/dd HH:mm:ss')}|">
					</p>
					</div>
				</div>
				<br />
				<div style="display: inline-flex">
					<a th:href="@{/edit/{id}(id=${content.id})}"><button
							type="button">編集</button></a>
					<form th:action="@{/delete/{id}(id=${content.id})}"
						th:method="delete">
						<input type="submit" value="削除">
					</form>
				</div>

				<div class="comment">
					<p>
						<font color="red">--------------コメント--------------</font>
					</p>

					<div th:each="commentContent : ${commentContents}">
						<div th:if="${commentContent.report_id == content.id}">
							<p>
								→ <span th:text="${commentContent.content}"></span>
							</p>
							<div>
								<p th:text="|コメント投稿日時：${#dates.format(new java.util.Date(commentContent.createdDate), 'yyyy/MM/dd HH:mm:ss')}|"></p>
							    <div th:if="${commentContent.createdDate != commentContent.updatedDate}">
							    </div>
							</div>
							<div style="display: inline-flex">
								<a th:href="@{/edit_comment/{id}(id=${commentContent.id})}"><button
										type="button">編集</button></a>
								<form
									th:action="@{/delete_comment/{id}(id=${commentContent.id})}"
									th:method="delete">
									<input type="submit" value="削除">
								</form>
							</div>
						</div>
					</div>


					<div class="comment-area">
						<form th:action="@{/add_comment}" th:method="post"
							th:object="${formModel}">
							◆コメント入力欄：<input type="text" name="content" size="40"
								maxlength="200" /> <input type="hidden" name="report_id"
								th:value="${content.id}" /> <input type="submit" value="送信">
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>

</body>
</html>